.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrapper {
  max-width: 1920px;
  width: 100%;
  height: 80px;
}

.book-search {
  transform: translateX(250%);
  margin-top: 10px;
}
